# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.buildlog/
.history

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/DerivedData/
ios/xcuserdata/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/

# Eccezioni fondamentali per il tuo progetto
!ios/Runner/GoogleService-Info.plist
!ios/Flutter/podhelper.rb